<h2>Confirm & Checkout</h2>
<div class="container-fluid" style="padding-top: 20px;">
    <h3>Address Delivery</h3>
    <div class="white-panel">
        <div class="attribute-table single-table"></div>
        <table id="chi-tiet" cellspacing="0" class="table table-bordered table-detail table-striped">
            <colgroup>
                <col style="width: 25%;"><col>
            </colgroup>
            <tbody>
            <tr>
                <td rel="publisher_vn">Full Name</td>
                <td class="last">
                    {{name1}}
                </td>
            </tr>
            <tr>
                <td rel="manufacturer_book_vn">Email</td>
                <td class="last">
                    {{email}}
                </td>
            </tr>
            <tr>
                <td rel="dimensions">Address</td>
                <td class="last">
                    {{address}}
                </td>
            </tr>
            <tr>
                <td rel="author">City</td>
                <td class="last">
                    {{city}}
                </td>
            </tr>
            <tr>
                <td rel="dich_gia">State</td>
                <td class="last">
                    {{state}}
                </td>
            </tr>
            <tr>
                <td rel="book_cover">Zip</td>
                <td class="last">
                    {{zip}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<form action="/payment" method="POST" class="container-fluid" style="padding-top: 20px;">
    <h3>Payment</h3>
    <div class="white-panel">
        <div class="attribute-table single-table">
            <table id="chi-tiet" cellspacing="0" class="table table-bordered table-detail table-striped">
                <colgroup>
                    <col style="width: 25%;"><col>
                </colgroup>
                <tbody>
                <tr>
                    <td rel="publisher_vn">Payment Method</td>
                    <td class="last">
                    {{payment_method}}
                    </td>
                </tr>
            </table>       
        </div>
        
    </div>
     <input class="hidden" name="payment_method" type="text" value="{{payment_method}}" ></input>
    

    <div class="container-fluid TM-checkout" style="padding-top: 20px;">
        <h4 class="title">Shopping Cart <span>(2 Products)</span></h4>
        <div class="row">
            <div class="col-sm-9 book-list">
                {{#each orders}}
                <!--Item 1-->
                <div class="row book-item">
                    <div class="col-sm-2">
                        <img src={{product.imagePath1}} width="100%">
                        <div class="percent">{{product.discount}}%</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-7">
                                <h4 class="book-title">
                                    <a href="/product-detail">
                                       {{product.name}}
                                    </a>
                                </h4>
                                <p class="author">Categories:
                                    <span class="author"> Sports, Trending</span>
                                </p>
                                
                            </div>
                            <div class="col-sm-5 item-price">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p class="final-price">${{product.discountPrice}}</p>
                                        <p class="original-price">${{product.price}}</p>
                                    </div>
                                    <div class="col-sm-7 center">
                                        <p><strong>Quantity</strong></p>
                                        <p class="center"> {{productQty}} </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <!--Item 2-->
            </div>
            <div class="col-sm-3">
                <div class="row book-price" style="border-bottom: 5px solid #eee">
                    <div class="col-sm-5" style="text-align: left">
                        <p style="color: #333">Subtotal:</p>
                    </div>
                    <div class="col-sm-7" style="text-align: right">
                        <p>{{totalPrice.subtotal}}</p>
                    </div>
                </div>
                <div class="row book-price">
                    <div class="col-sm-5" style="text-align: left">
                        <p style="padding-top: 10px; color: #333">Total:</p>
                    </div>
                    <div class="col-sm-7" style="text-align: right">
                        <p class="total-price">{{totalPrice.total}}</p>
                        <p style="font-size: 13px">(Included Tax)</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <input class="hide" name="total" value={{totalPrice.total}}>
    <input class="hide" name="userId" value={{userId}}>
    <input type="submit" class="btn" value="Confirm"></input>
</form>
