<!-- Add script to design page -->
{{#section 'script'}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.miniColors.min.js"></script>
<script type="text/javascript" src="/js/fabric.js"></script>
<script type="text/javascript" src="/js/tshirtEditorProduct.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

{{/section}}

<!-- Add stype to design page -->
{{#section 'style'}}
<link type="text/css" rel="stylesheet" href="/css/jquery.miniColors.css" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/css/design-style.css" rel="stylesheet">

{{/section}}

<section id="typography">
  <div class="page-header container-fluid">
	  <div class="row" style="margin:0">
  		<div class="col-md-9">
  			<h1>Customize T-Shirt</h1>
  		</div>
  		<div class="col-md-3">
			{{#ifCond designStep '==' 1}}
			<form id="saveFront" action="/products/{{product.id}}/saveFront" method="post">
				<input type="hidden" id="canvasFront" name="canvasFront" value="" />
				<input type="hidden" id="size" name="size" value="" />
			</form>
			<button type="button" class="btn btn-large btn-primary" id="save-front-design" style="float: left">Save Front Design</button>
			{{/ifCond}}
			{{#ifCond designStep '==' 2}}
			<form id="saveBack" action="/products/{{product.id}}/saveBack" method="post">
				<input type="hidden" id="canvasBack" name="canvasBack" value="" />
				<input type="hidden" id="size" name="size" value="" />
			</form>
			<button type="button" class="btn btn-large btn-primary" id="save-back-design" style="float: left">Save Back Design</button>
			{{/ifCond}}
  		</div>
  	</div>
  </div>
  <!-- Headings & Paragraph Copy -->

  <div class="">
    <div class="col-md-5">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">T-Shirt Options</a></li>
            <li><a href="#tab2" data-toggle="tab">Gravatar</a></li>
          </ul>
          <div class="tab-content">
             <div class="tab-pane active" id="tab1">
                <div class="well">
			      	<!-- <h3>Tee Styles</h3> -->
					<label for="tshirtTypes" style="margin-top: 20px;">Size: </label>
					<select class="form-control" id="tshirtSizes">
						{{#each product.sizes}}
                        	<option value="{{sizeLatin}}">{{sizeLatin}}</option>
                        {{/each}}


                    </select>

                  </div>
                  <!-- <div class="well">
                    <ul class="nav">
                        <li class="color-preview" title="White" style="background-color:#ffffff;"></li>
                        <li class="color-preview" title="Dark Heather" style="background-color:#616161;"></li>
                        <li class="color-preview" title="Gray" style="background-color:#f0f0f0;"></li>
                        <li class="color-preview" title="Charcoal" style="background-color:#5b5b5b;"></li>
                        <li class="color-preview" title="Black" style="background-color:#222222;"></li>
                        <li class="color-preview" title="Heather Orange" style="background-color:#fc8d74;"></li>
                        <li class="color-preview" title="Heather Dark Chocolate" style="background-color:#432d26;"></li>
                        <li class="color-preview" title="Salmon" style="background-color:#eead91;"></li>
                        <li class="color-preview" title="Chesnut" style="background-color:#806355;"></li>
                        <li class="color-preview" title="Dark Chocolate" style="background-color:#382d21;"></li>
                        <li class="color-preview" title="Citrus Yellow" style="background-color:#faef93;"></li>
                        <li class="color-preview" title="Avocado" style="background-color:#aeba5e;"></li>
                        <li class="color-preview" title="Kiwi" style="background-color:#8aa140;"></li>
                        <li class="color-preview" title="Irish Green" style="background-color:#1f6522;"></li>
                        <li class="color-preview" title="Scrub Green" style="background-color:#13afa2;"></li>
                        <li class="color-preview" title="Teal Ice" style="background-color:#b8d5d7;"></li>
                        <li class="color-preview" title="Heather Sapphire" style="background-color:#15aeda;"></li>
                        <li class="color-preview" title="Sky" style="background-color:#a5def8;"></li>
                        <li class="color-preview" title="Antique Sapphire" style="background-color:#0f77c0;"></li>
                        <li class="color-preview" title="Heather Navy" style="background-color:#3469b7;"></li>
                        <li class="color-preview" title="Cherry Red" style="background-color:#c50404;"></li>
                    </ul>
                </div> -->
				{{#if message}}
				<div class="alert alert-success alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					{{message}}
				</div>
				{{/if}}
             </div>
            <div class="tab-pane" id="tab2">
                <div class="well">
                    <div class="input-append">
                      <input style="width: 70%; display: inline" class="form-control" id="text-string" type="text" placeholder="Add text here...">
                      <button style="display: inline-block" id="add-text" class="btn" title="Add text"><i class="fa fa-share"></i></button>
                      <hr>
                    </div>
                    <div id="avatarlist">
                        <img style="cursor:pointer;" class="img-polaroid" src="/img//icons/invisibleman.png">
                        <img style="cursor:pointer;" class="img-polaroid" src="/img/icons/polaroid1.png">
                        <img style="cursor:pointer;" class="img-polaroid" src="/img/icons/polaroid2.png">
                        <img style="cursor:pointer;" class="img-polaroid" src="/img/icons/polaroid3.png">
                        <img style="cursor:pointer;" class="img-polaroid" src="/img/icons/polaroid4.png">
                        <img style="cursor:pointer;" class="img-polaroid" src="/img/icons/polaroid5.png">
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-7">
        <div align="center" style="min-height: 40px;">
            <div class="clearfix">
                <div class="btn-group inline pull-left" id="texteditor" style="display:none">
                    <button id="font-family" class="btn dropdown-toggle" data-toggle="dropdown" title="Font Style"><i class="fa fa-font" style="width:19px;height:19px;"></i></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="font-family-X">
                        <li><a tabindex="-1" href="#" onclick="setFont('Arial');" class="Arial">Arial</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Helvetica');" class="Helvetica">Helvetica</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Myriad Pro');" class="MyriadPro">Myriad Pro</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Delicious');" class="Delicious">Delicious</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Verdana');" class="Verdana">Verdana</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Georgia');" class="Georgia">Georgia</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Courier');" class="Courier">Courier</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Comic Sans MS');" class="ComicSansMS">Comic Sans MS</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Impact');" class="Impact">Impact</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Monaco');" class="Monaco">Monaco</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Optima');" class="Optima">Optima</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Hoefler Text');" class="Hoefler Text">Hoefler Text</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Plaster');" class="Plaster">Plaster</a></li>
                        <li><a tabindex="-1" href="#" onclick="setFont('Engagement');" class="Engagement">Engagement</a></li>
                    </ul>
                    <button id="text-bold" class="btn" data-original-title="Bold"><img src="/img/font_bold.png" height="" width=""></button>
                    <button id="text-italic" class="btn" data-original-title="Italic"><img src="/img/font_italic.png" height="" width=""></button>
                    <button id="text-strike" class="btn" title="Strike" style=""><img src="/img/font_strikethrough.png" height="" width=""></button>
                    <button id="text-underline" class="btn" title="Underline" style=""><img src="/img/font_underline.png"></button>
                    <button style="padding-bottom: 8px;" class="btn" href="" rel="tooltip" data-placement="top" data-original-title="Font Color"><input type="hidden" id="text-fontcolor" class="color-picker" size="7" value="#000000"></button>
                    <button style="padding-bottom: 8px;" class="btn" href="" rel="tooltip" data-placement="top" data-original-title="Font Border Color"><input type="hidden" id="text-strokecolor" class="color-picker" size="7" value="#000000"></button>
                      <!--- Background <input type="hidden" id="text-bgcolor" class="color-picker" size="7" value="#ffffff"> --->
                </div>
                <div class="pull-right" align="" id="imageeditor" style="">
                  <div class="btn-group">
                      <button class="btn" id="bring-to-front" title="Bring to Front" style="display:none"><i class="fa fa-fast-backward rotate" style="height:19px;"></i></button>
                      <button class="btn" id="send-to-back" title="Send to Back" style="display:none"><i class="fa fa-fast-forward rotate" style="height:19px;"></i></button>
                      <button id="flip" type="button" class="btn" title="Show Back View"><i class="fa fa-retweet" style="height:19px;"></i></button>
                      <button id="remove-selected" class="btn" title="Delete selected item"><i class="fa fa-trash" style="height:19px;"></i></button>
                  </div>
                </div>
            </div>
        </div>
        <!--	EDITOR      -->
        <div id="shirtDiv" class="page" style="width: 530px; height: 630px; position: relative; top: 0; background-color: rgb(255, 255, 255);">
			{{#ifCond designStep '==' 1}}
			<img id="tshirtFacing" src="{{product.type.templateFront}}"></img>
			{{/ifCond}}
			{{#ifCond designStep '==' 2}}
			<img id="tshirtFacing" src="{{product.type.templateBack}}"></img>
			{{/ifCond}}
			<input type="hidden" id="template-back" value="{{product.type.templateBack}}"/>
			<input type="hidden" id="template-front" value="{{product.type.templateFront}}" />
            <div id="drawingArea" style="position: absolute;top: 100px;left: 165px;z-index: 10;width: 200px;height: 400px;">
                <canvas id="tcanvas" width=200 height="400" class="hover" style="-webkit-user-select: none;"></canvas>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="well" style="margin-top: 40px;">
        <h3>Total Prices</h3>
          <p>
            <table class="table">
                <tr>
                    <td>Short Sleeve</td>
                    <td align="right">$12.49</td>
                </tr>
                <tr>
                    <td>Front Design</td>
                    <td align="right">$4.99</td>
                </tr>
                <tr>
                    <td>Back Design</td>
                    <td align="right">$4.99</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td align="right"><strong>$22.47</strong></td>
                </tr>
            </table>
          </p>
            <button type="button" class="btn btn-large btn-block btn-success" name="add-to-cart" id="add-to-cart">Add to Cart <i class="icon-briefcase icon-white"></i></button>
      </div>
    </div> -->
  </div>

</section>

<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-35639689-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
