<div class="container-fluid  TM-book-detail">
    <div class="row">
        <div class="col-sm-1 image-preview">
            <img src="{{product.imagePath}}" height="100">
            <!-- <img src="/img/templates/template8.jpg" height="100"> -->
        </div>
        <div class="col-sm-6 large-image">
            <img src="{{product.imagePath}}" width="100%">
        </div>
        <div class="col-sm-5 description" style="padding-left: 0; padding-right: 20px">
            <h4>{{product.name}}</h4>
            <div class="vote" style="padding-bottom: 10px">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="	glyphicon glyphicon-star-empty"></i>
                <span class="comment">(65)</span> <span class="comment"><a href="#">Add Comment</a></span>
            </div>
            <p>Categories: <span class="author">Sports, Trending</span></p>
            <p style="border-bottom: 1px solid #ececec; padding-bottom: 20px">Available Sizes: <span class="author">S, XXL</span></p>

            <div class="product-desc">
                {{product.description}}
            </div>
            <div class="price-container" style="border-bottom:  1px solid #ececec;">
                <p><span class="price">${{product.price}}</span> <span style="color: #9b9b9b; font-size: 14px">Included tax</span></p>
                <p style="color: #9b9b9b">Save: <span class="percent">{{product.discount}}%</span> <span class="discount">($2.75)</span></p>
                <p style="color: #9b9b9b">Original Price: <span class="price-original">${{product.price}}</span></p>
            </div>

            <div class="row add-to-cart" style="">
                <div class="col-sm-12" style="height: 60px; line-height: 60px; width: 250px">
                    <a href="/design" type="button" class="btn btn-danger" style="text-align: center; font-size: 24px">
                            Start Design
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container-fluid  TM-relate-book">
    <div class="row header">
        <div class="col-sm-8">
            <p class="title">Related Products</p>
        </div>
        <div class="col-sm-4" style="text-align: right; line-height: 30px">
            <a href="#" style="text-decoration: none; font-size: 16px">
                <p>View More
                    <span><i class="glyphicon glyphicon-triangle-right"></i> </span>
                </p>
            </a>
        </div>

    </div>
    <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div>

    <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div>

    <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div>

    <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div>
</div>

<div class="container-fluid TM-detail">

    <div class="row header">
        <div class="col-sm-12">
            <p class="title">Product Details</p>
        </div>


    </div>
    <div class="white-panel">
        <div class="attribute-table single-table"></div>
        <table id="chi-tiet" cellspacing="0" class="table table-bordered table-detail table-striped">
            <colgroup>
                <col style="width: 25%;"><col>
            </colgroup>
            <tbody>
            <tr>
                <td rel="publisher_vn">Brand</td>
                <td class="last">
                    <a href="#">Adidas</a>

                </td>
            </tr>
            <tr>
                <td rel="dimensions">Min Size</td>
                <td class="last">
                    S
                </td>
            </tr>
            <tr>
                <td rel="author">Max Size</td>
                <td class="last">
                    XXL
                </td>
            </tr>
            <tr>
                <td rel="dich_gia">Type</td>
                <td class="last">
                    Woman Tank Top
                </td>
            </tr>
            <tr>
                <td rel="book_cover">Categories</td>
                <td class="last">
                    Sports, Trending, School
                </td>
            </tr>
            <tr>
                <td rel="publication_date">Produce Date</td>
                <td class="last">
                    07-2017
                </td>
            </tr>
            <tr>
                <td rel="sku">Product ID</td>
                <td class="last">
                    2506010458896
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid  TM-book-description">
</div>
