<div class="TM-body" style="background: white; padding-right: 10px; padding-top: 10px">
    <div class="row TM-categories">
        <div class="col-sm-3" >
            <div class="filter-row">
            <h4>Product Categories</h4>
                <ul>
					{{#each filters.productTypes}}
                    <li><a href="#">{{name}} ({{gender}}) <span></span></a></li>
					{{/each}}
                </ul>
            </div>

			<div class="filter-row">
                <h4>Gender</h4>
                <ul>
                    <li><a href="#">Male <span></span></a></li>
                    <li><a href="#">Female <span></span></a></li>
                </ul>
            </div>

            <div class="filter-row">
              <h4>Color</h4>
              <ul class="nav">
                  <li class="color-preview" title="White" style="background-color:#ffffff;"></li>
                  <li class="color-preview" title="Dark Heather" style="background-color:#616161;"></li>
                  <li class="color-preview" title="Gray" style="background-color:#f0f0f0;"></li>
                  <li class="color-preview" title="Charcoal" style="background-color:#5b5b5b;"></li>
                  <li class="color-preview" title="Black" style="background-color:#222222;"></li>
                  <li class="color-preview" title="Heather Orange" style="background-color:#fc8d74;"></li>
                  <li class="color-preview" title="Heather Dark Chocolate" style="background-color:#432d26;"></li>
                  <li class="color-preview" title="Salmon" style="background-color:#eead91;"></li>
                  <li class="color-preview" title="Chesnut" style="background-color:#806355;"></li>
                  <li class="color-preview" title="Dark Chocolate" style="background-color:#382d21;"></li>
                  <li class="color-preview" title="Citrus Yellow" style="background-color:#faef93;"></li>
                  <li class="color-preview" title="Avocado" style="background-color:#aeba5e;"></li>
                  <li class="color-preview" title="Kiwi" style="background-color:#8aa140;"></li>
                  <li class="color-preview" title="Irish Green" style="background-color:#1f6522;"></li>
                  <li class="color-preview" title="Scrub Green" style="background-color:#13afa2;"></li>
                  <li class="color-preview" title="Teal Ice" style="background-color:#b8d5d7;"></li>
                  <li class="color-preview" title="Heather Sapphire" style="background-color:#15aeda;"></li>
                  <li class="color-preview" title="Sky" style="background-color:#a5def8;"></li>
                  <li class="color-preview" title="Antique Sapphire" style="background-color:#0f77c0;"></li>
                  <li class="color-preview" title="Heather Navy" style="background-color:#3469b7;"></li>
                  <li class="color-preview" title="Cherry Red" style="background-color:#c50404;"></li>
              </ul>
            </div>

            <div class="filter-row">
                <h4>Price</h4>
                <ul>
                    <li><a href="#">Budget <span></span></a></li>
                    <li><a href="#">Moderate <span></span></a></li>
                    <li><a href="#">Premium <span></span></a></li>
                </ul>
            </div>

            <div class="filter-row">
                <h4>Sizes</h4>
                <ul>
					{{#each filters.sizes}}
                    <li><a href="#">{{this}} <span></span></a></li>
					{{/each}}
                </ul>
            </div>

        </div>


        <div class="col-sm-9 book-list">
            <div class="container-fluid">

                    {{#each products}}
                        {{#if isStartLine}}
                        <div class="row" style="margin-bottom: 30px;">
                        {{/if}}
                        <div class="col-sm-3">
                            <a href="/products/{{id}}">
                                <img src="{{imagePath1}}" width="100%">
                                <div class="percent">{{discount}}%</div>
                                <p class="book-title">{{name}}</p>
                            </a>
                            <p><span class="price">{{formatNumber discountPrice style="currency" currency="USD"}}</span> <span class="original-price">{{formatNumber price style="currency" currency="USD"}}</span></p>
                            <div class="size">Size:
                                <span class="size">{{minSizeLatin}}</span>
								-
								<span class="size">{{maxSizeLatin}}</span>
                            </div>
                        </div>
                        {{#if isBreakLine}}
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>

            <div class="center">
                {{{paginateHelper pagination leftText="Prev" rightText="Next" paginationClass="pagination"}}}
            </div>
        </div>
    </div>

</div>
