<div class="TM-body" style="background: white; padding-right: 10px; padding-top: 10px">
    <div class="row TM-categories">
        <div class="col-sm-3" >
            <div class="filter-row">
            <h4>Product Categories</h4>
                <ul>
                    <li><a href="#">Long Sleeve T-Shirts <span>(23)</span></a></li>
                    <li><a href="#">Short Sleeve T-Shirts <span>(23)</span></a></li>
                    <li><a href="#">Tank Tops & Sleeveless<span>(23)</span></a></li>
                    <li><a href="#">Raglan T-Shirts <span>(23)</span></a></li>
                    <li><a href="#">Trendy T-Shirts <span>(23)</span></a></li>
                    <li><a href="#">Youth T-Shirts <span>(23)</span></a></li>
                </ul>
            </div>

            <div class="filter-row">
              <h4>Color</h4>
              <ul class="nav">
                  <li class="color-preview" title="White" style="background-color:#ffffff;"></li>
                  <li class="color-preview" title="Dark Heather" style="background-color:#616161;"></li>
                  <li class="color-preview" title="Gray" style="background-color:#f0f0f0;"></li>
                  <li class="color-preview" title="Charcoal" style="background-color:#5b5b5b;"></li>
                  <li class="color-preview" title="Black" style="background-color:#222222;"></li>
                  <li class="color-preview" title="Heather Orange" style="background-color:#fc8d74;"></li>
                  <li class="color-preview" title="Heather Dark Chocolate" style="background-color:#432d26;"></li>
                  <li class="color-preview" title="Salmon" style="background-color:#eead91;"></li>
                  <li class="color-preview" title="Chesnut" style="background-color:#806355;"></li>
                  <li class="color-preview" title="Dark Chocolate" style="background-color:#382d21;"></li>
                  <li class="color-preview" title="Citrus Yellow" style="background-color:#faef93;"></li>
                  <li class="color-preview" title="Avocado" style="background-color:#aeba5e;"></li>
                  <li class="color-preview" title="Kiwi" style="background-color:#8aa140;"></li>
                  <li class="color-preview" title="Irish Green" style="background-color:#1f6522;"></li>
                  <li class="color-preview" title="Scrub Green" style="background-color:#13afa2;"></li>
                  <li class="color-preview" title="Teal Ice" style="background-color:#b8d5d7;"></li>
                  <li class="color-preview" title="Heather Sapphire" style="background-color:#15aeda;"></li>
                  <li class="color-preview" title="Sky" style="background-color:#a5def8;"></li>
                  <li class="color-preview" title="Antique Sapphire" style="background-color:#0f77c0;"></li>
                  <li class="color-preview" title="Heather Navy" style="background-color:#3469b7;"></li>
                  <li class="color-preview" title="Cherry Red" style="background-color:#c50404;"></li>
              </ul>
            </div>

            <div class="filter-row">
                <h4>Material</h4>
                <ul>
                    <li><a href="#">100% Cotton <span>(23)</span></a></li>
                    <li><a href="#">Ultra Soft <span>(13)</span></a></li>
                    <li><a href="#">Organic <span>(43)</span></a></li>
                    <li><a href="#">Tri-Blend <span>(120)</span></a></li>
                    <li><a href="#">Pigment Dyed <span>(200)</span></a></li>
                    <li><a href="#">Uv Protection <span>(10)</span></a></li>
                    <li><a href="#">Performance Blend <span>(10)</span></a></li>
                    <li><a href="#">Poly/Cotton <span>(10)</span></a></li>
                    <li><a href="#">Snag Proof/Resistant <span>(10)</span></a></li>
                    <li><a href="#">Antimicrobial <span>(10)</span></a></li>
                    <li><a href="#">Water Resistant <span>(10)</span></a></li>
                </ul>
            </div>

            <div class="filter-row">
                <h4>Brand</h4>
                <ul>
                    <li><a href="#">Addidas <span>(45)</span></a></li>
                    <li><a href="#">Nike <span>(45)</span></a></li>
                    <li><a href="#">New Balance <span>(45)</span></a></li>
                    <li><a href="#">Anvil <span>(45)</span></a></li>
                    <li><a href="#">American Apparel <span>(45)</span></a></li>
                    <li><a href="#">Champion <span>(45)</span></a></li>
                    <li><a href="#">The Blue <span>(45)</span></a></li>
                    <li><a href="#">Gildan <span>(45)</span></a></li>
                    <li><a href="#">GAP <span>(45)</span></a></li>
                    <li><a href="#">Hanes <span>(45)</span></a></li>
                    <li class="load-more" style=" font-weight: 600; padding-top: 10px">
                        <a href="#" style="color: black;">
                            Others
                            <span>
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="filter-row">
                <h4>Price</h4>
                <ul>
                    <li><a href="#">Budget <span>(46)</span></a></li>
                    <li><a href="#">Moderate <span>(46)</span></a></li>
                    <li><a href="#">Premium <span>(46)</span></a></li>
                </ul>
            </div>

            <div class="filter-row">
                <h4>Specialty Sizes</h4>
                <ul>
                    <li><a href="#">2XL & Up <span>(12)</span></a></li>
                    <li><a href="#">Tall <span>(4)</span></a></li>
                    <li><a href="#">Youth <span>(38)</span></a></li>
                </ul>
            </div>

        </div>


        <div class="col-sm-9 book-list">
            <div class="container-fluid">

                    {{#each products}}
                        {{#if isBreakLine}}
                        <div class="row" style="margin-bottom: 30px;">
                        {{/if}}
                        <div class="col-sm-3">
                            <a href="/products/{{id}}">
                                <img src="{{imagePath1}}" width="100%">
                                <div class="percent">{{discount}}%</div>
                                <p class="book-title">{{name}}</p>
                            </a>
                            <p><span class="price">{{formatNumber discountPrice style="currency" currency="USD"}}</span> <span class="original-price">{{formatNumber price style="currency" currency="USD"}}</span></p>
                            <div class="size">Size:
                                <span class="size">{{minSizeLatin}}</span>
								-
								<span class="size">{{maxSizeLatin}}</span>
                            </div>
                        </div>
                        {{#if isBreakLine}}
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>

            <div class="center">
                {{{paginateHelper pagination leftText="Prev" rightText="Next" paginationClass="pagination"}}}
            </div>
            <!-- <div class="center">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div> -->
        </div>
    </div>

</div>
