<div class="container-fluid  TM-book-detail">
    <div class="row">
        <div class="col-sm-2 image-preview">
            {{#if product.imagePath1}}
            <img src="{{product.imagePath1}}" height="100">
            {{/if}}
            {{#if product.imagePath2}}
            <img src="{{product.imagePath2}}" height="100">
            {{/if}}
            {{#if product.imagePath3}}
            <img src="{{product.imagePath3}}" height="100">
            {{/if}}
            {{#if product.imagePath4}}
            <img src="{{product.imagePath4}}" height="100">
            {{/if}}
            <!-- <img src="/img/templates/template8.jpg" height="100"> -->
        </div>
        <div class="col-sm-6 large-image">
            <img src="{{product.imagePath1}}" width="100%">
        </div>
        <div class="col-sm-4 description" style="padding-left: 0; padding-right: 20px">
            <h4>{{product.name}}</h4>
            <p>Types: <span class="author"><a href="#">{{product.type.name}}</a></span></p>
            <p style="border-bottom: 1px solid #ececec; padding-bottom: 20px">Available Sizes: <span class="author">{{product.minSizeLatin}}, {{product.maxSizeLatin}}</span></p>

            <div class="product-desc">
                {{product.description}}
            </div>
            <div class="price-container" style="border-bottom:  1px solid #ececec;">
                <p><span class="price">{{formatNumber product.discountPrice style="currency" currency="USD"}}</span> <span style="color: #9b9b9b; font-size: 14px">Included tax</span></p>
                <p style="color: #9b9b9b">Save: <span class="percent">{{product.discount}}%</span> <span class="discount">({{formatNumber product.discountAmount style="currency" currency="USD"}})</span></p>
                <p style="color: #9b9b9b">Original Price: <span class="price-original">{{formatNumber product.price style="currency" currency="USD"}}</span></p>
            </div>

            <div class="row add-to-cart" style="">
                <div class="col-sm-12" style="height: 60px; line-height: 60px; width: 250px">
                    <a href="/design" type="button" class="btn btn-danger" style="text-align: center; font-size: 24px">
                        Start Design
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container-fluid  TM-relate-book">
    <div class="row header">
        <div class="col-sm-8">
            <p class="title">Related Products</p>
        </div>
        <div class="col-sm-4" style="text-align: right; line-height: 30px">
            <a href="/products" style="text-decoration: none; font-size: 16px">
                <p>View More
                    <span><i class="glyphicon glyphicon-triangle-right"></i> </span>
                </p>
            </a>
        </div>

    </div>
    {{#each relatedProducts}}
    <div class="col-sm-3 book-item">
        <a href="/products/{{id}}">
            <img src="{{imagePath1}}" width="100%">
            <div class="percent">{{discount}}%</div>
            <p class="book-title">{{name}}</p>
        </a>
        <p><span class="price">{{formatNumber discountPrice style="currency" currency="USD"}}</span> <span class="original-price">$20.00</span></p>
		<div class="size">Size:
			<span class="size">{{minSizeLatin}}</span>
			-
			<span class="size">{{maxSizeLatin}}</span>
		</div>
    </div>
    {{/each}}
    <!-- <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div>

    <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div>

    <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div>

    <div class="col-sm-3 book-item">
        <a href="book-detail.html">
            <img src="/img/templates/template4.jpg" width="100%">
            <div class="percent">20%</div>
            <p class="book-title">Hanes Cool Dri Performance Shirt</p>
        </a>
        <p><span class="price">$14.50</span> <span class="original-price">$20.00</span></p>
        <div class="vote">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="	glyphicon glyphicon-star-empty"></i>
            <span class="comment">(65)</span>
        </div>
    </div> -->
</div>

<div class="container-fluid TM-detail">

    <div class="row header">
        <div class="col-sm-12">
            <p class="title">Product Details</p>
        </div>


    </div>
    <div class="white-panel">
        <div class="attribute-table single-table"></div>
        <table id="chi-tiet" cellspacing="0" class="table table-bordered table-detail table-striped">
            <colgroup>
                <col style="width: 25%;"><col>
            </colgroup>
            <tbody>
            <!-- <tr>
                <td rel="publisher_vn">Brand</td>
                <td class="last">
                    <a href="#">Adidas</a>

                </td>
            </tr> -->
            <tr>
                <td rel="dimensions">Min Size</td>
                <td class="last">
                    {{product.minSizeLatin}}
                </td>
            </tr>
            <tr>
                <td rel="author">Max Size</td>
                <td class="last">
                    {{product.maxSizeLatin}}
                </td>
            </tr>
            <tr>
                <td rel="dich_gia">Types</td>
                <td class="last">
                    {{product.type.name}}
                </td>
            </tr>
            <tr>
                <td rel="publication_date">Produce Date</td>
                <td class="last">
                    {{product.updatedAt}}
                </td>
            </tr>
            <tr>
                <td rel="sku">Product ID</td>
                <td class="last">
                    #{{product.id}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid  TM-book-description">
</div>
