<div class="container-fluid TM-checkout">
    <div class="row">
        <h4 class="title">Shopping Cart <span>({{nOrders}} Orders)</span></h4>
        <div class="col-sm-9 book-list">

            {{#each products}}
            <div class="row book-item">
                <div class="col-sm-3">
                    <img src="{{product.imagePath1}}" width="100%">
                    <div class="percent">{{product.discount}}%</div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-7">
                            <h4 class="book-title">
                                <a href="/products/{{product.id}}">
                                {{product.name}}
                                </a>
                            </h4>
                            <p class="author">Type:
                                <span class="author"> {{product.listTypes}}</span>
                            </p>
                            <p class="author">Size:
                                <span class="author"> {{productSize}}</span>
                            </p>
                            <p class="author">Product Price:
                                <span class="price">
                                    <input type="hidden" class="product-price" data-id="{{order.id}}" value="{{product.discountPrice}}" />
                                    {{formatNumber product.discountPrice style="currency" currency="USD"}}
                                </span>
                                <span class="original-price">
                                    ({{formatNumber product.price style="currency" currency="USD" }})
                                </span>

                            </p>
                            <p class="author">Shipping Price:
                                <span class="price">
                                    {{formatNumber order.shipping style="currency" currency="USD"}}
                                </span>
                            </p>
                            <div class="row extras-{{order.id}}">
                                <div class="col-md-9">
                                    <div class="panel-group" style="width: 100%; float:left; margin-button: 10px;">
                                        <div class="panel panel-default">
                                          <div data-toggle="collapse" data-target="#extras-{{order.id}}" class="panel-heading" style="cursor: pointer">
                                            <h4 class="panel-title" style="font-size: 14px">
                                                Extras <span style="float: right">{{formatNumber productExtra.totalPrice style="currency" currency="USD"}}</span>
                                            </h4>
                                         </div>
                                         <div id="extras-{{order.id}}" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                {{#each productExtra.extras}}
                                                <li class="list-group-item" style="padding-left: 30px">{{name}}
                                                    <span class="extra-price">
                                                        {{formatNumber price style="currency" currency="USD"}}
                                                    </span>
                                                </li>
                                                {{/each}}
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary edit-extras" data-id="{{order.id}}">Edit Extras</button>
                                </div>
                            </div>

                            <div class="row choose-extras-{{order.id}}" style="margin:0; display: none">
                                <div class="col-md-9">
                                    <div class="panel-group" style="width: 100%; float:left">
                                        <div class="panel panel-default">
                                          <div class="panel-heading" style="cursor: pointer">
                                            <h4 class="panel-title" style="font-size: 14px">
                                                Choose extras:
                                            </h4>
                                         </div>

                                            <ul class="list-group">

                                                {{#each extras}}
                                                <li class="list-group-item">
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="extras" value="{{id}}">{{name}} (${{price}})</label>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success submit-extras" data-id="{{order.id}}" style="margin-top:10px;">Choose</button>
                                    <button type="button" class="btn btn-default cancel-extras" data-id="{{order.id}}" style="margin-top:10px;">Cancel</button>
                                </div>



                            </div>


                            <button type="button" class="btn btn-danger delete-order" data-id="{{order.id}}" href="#" style="margin-top:20px;">Delete Order</a></button>

                        </div>
                        <div class="col-sm-5 item-price">
                            <div class="row">
                                <h4>Product Total</h4>
                                <p class="final-price">{{formatNumber product.totalPrice style="currency" currency="USD"}}</p>
                                <input type="hidden" class="product-total-price" value="{{product.totalPrice}}" />

                                <div class="input-group bootstrap-touchspin" style="width:80%; padding-left: 20%">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-down" data-id="{{order.id}}" type="button">-</button>
                                    </span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input type="tel" class="form-control quantity-r2 quantity js-quantity-product-{{order.id}}" min="0" data-js-qty="" value="{{productQty}}" style="display: block; text-align: center">
                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-up" data-id="{{order.id}}" type="button">+</button>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-sm-3">
            <div class="row book-price" style="border-bottom: 5px solid #eee">
                <div class="col-sm-5" style="text-align: left">
                    <p style="color: #333">Subtotal:</p>
                </div>
                <div class="col-sm-7" style="text-align: right">
                    <p></p>
                </div>
            </div>
            <div class="row book-price">
                <div class="col-sm-5" style="text-align: left">
                    <p style="padding-top: 10px; color: #333">Total:</p>
                </div>
                <div class="col-sm-7" style="text-align: right">
                    <p class="total-price"></p>
                    <p style="font-size: 13px">(Included Tax)</p>

                </div>
            </div>
            <a href="/checkout-step2"><button type="button" class="btn btn-danger checkout">Checkout</button></a>
        </div>
    </div>
</div>
