<div class="invoice p-3 mb-3">
  <!-- title row -->
  <div class="row">
    <div class="col-12">
      <h4>
        <i class="fa fa-globe"></i> {{admin.companyName}}
        <small class="float-right">Date: 2/10/2014</small>
      </h4>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      From
      <address>
        <strong>{{admin.companyName}}</strong><br>
        {{admin.companyAddress}}<br>
        {{admin.companyCity}}, {{admin.companyCountry}}<br>
        Phone: {{admin.companyPhone}}<br>
        Email: {{admin.companyEmail}}
      </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      To
      <address>
        <strong>{{user.firstName}} {{user.lastName}}</strong><br>
        {{user.address}}<br>
        {{user.city}}, {{user.country}}<br>
        Phone: {{user.phoneNumber}}<br>
        Email: {{user.email}}
      </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <b>Invoice #007612</b><br>
      <br>
      <b>Order ID:</b> {{orderId}}<br>
      <b>Payment Due:</b> 2/22/2014<br>
      <!-- <b>Account:</b> 968-34567 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- Table row -->
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Qty</th>
          <th>Product</th>
          <th>Product Images</th>
          <th>Designed Images</th>
		  <th>Size</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
		{{#each orders}}
        <tr>
          <td>{{productQty}}</td>
          <td>{{product.name}}</td>
          <td>
			  <img src="{{product.imagePath1}}" width="80px"/>
			  <img src="{{product.imagePath2}}" width="80px"/>
		  </td>
          <td>
			  <img src="{{design.imageFront}}" width="80px"/>
			  <img src="{{design.imageBack}}" width="80px"/>
		  </td>
		  <td>{{design.size}}</td>
          <td>{{formatNumber subtotal style="currency" currency="USD"}}</td>
        </tr>
		{{/each}}
        </tbody>
      </table>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
    <!-- accepted payments column -->
    <div class="col-6">
      <p class="lead">Payment Methods:</p>
      <img src="/admin-lte/dist/img/credit/visa.png" alt="Visa">
      <img src="/admin-lte/dist/img/credit/mastercard.png" alt="Mastercard">
      <img src="/admin-lte/dist/img/credit/american-express.png" alt="American Express">
      <img src="/admin-lte/dist/img/credit/paypal2.png" alt="Paypal">

      <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">

      </p>
    </div>
    <!-- /.col -->
    <div class="col-6">
      <p class="lead">Amount Due 2/22/2014</p>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th style="width:50%">Subtotal:</th>
            <td>{{formatNumber price.subtotal style="currency" currency="USD"}}</td>
          </tr>
          <tr>
            <th>Tax ({{price.tax}}%)</th>
            <td>{{formatNumber price.taxAmount style="currency" currency="USD"}}</td>
          </tr>
          <tr>
            <th>Total:</th>
            <td>{{formatNumber price.totalPrice style="currency" currency="USD"}}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- this row will not appear when printing -->
  <div class="row no-print">
    <div class="col-12">
      <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
      <button type="button" class="btn btn-success float-right"><i class="fa fa-credit-card"></i> Submit
        Payment
      </button>
      <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
        <i class="fa fa-download"></i> Generate PDF
      </button>
    </div>
  </div>
</div>
<!-- /.invoice -->
