<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <!-- <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div> -->
          <!-- /.card-header -->
          <!-- form start -->

		  <form method="post" action="/admin/settings/edit">
            <div class="card-body">
				<div class="form-group">
                  <label for="tax">Tax</label>
                  <input type="number" value="{{settings.tax}}" class="form-control" id="tax" name="tax" min="0" max="100">
                </div>
				<div class="form-group">
                  <label for="frontDesignPrice">Front Design Price</label>
                  <input type="number" value="{{settings.frontDesignPrice}}" class="form-control" id="frontDesignPrice" name="frontDesignPrice">
                </div>
				<div class="form-group">
                  <label for="backDesignPrice">Back Design Price</label>
                  <input type="number" value="{{settings.backDesignPrice}}" class="form-control" id="backDesignPrice" name="backDesignPrice">
                </div>
				<div class="form-group">
                  <label for="companyName">Company Name</label>
                  <input type="text" value="{{settings.companyName}}" class="form-control" id="companyName" name="companyName">
                </div>
				<div class="form-group">
				  <label for="companyAddress">Company Address</label>
				  <input type="text" value="{{settings.companyAddress}}" class="form-control" id="companyAddress" name="companyAddress">
				</div>
				<div class="form-group">
                  <label for="companyCity">Company City</label>
                  <input type="text" value="{{settings.companyCity}}" class="form-control" id="companyCity" name="companyCity">
                </div>
				<div class="form-group">
                  <label for="companyCountry">Company Country</label>
                  <input type="text" value="{{settings.companyCountry}}" class="form-control" id="companyCountry" name="companyCountry">
                </div>

				<div class="form-group">
                  <label for="companyPhone">Company Phone</label>
                  <input type="text" value="{{settings.companyPhone}}" class="form-control" id="companyPhone" name="companyPhone">
                </div>

				<div class="form-group">
                  <label for="companyEmail">Company Email</label>
                  <input type="text" value="{{settings.companyEmail}}" class="form-control" id="companyEmail" name="companyEmail">
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="/admin/settings" type="button" class="btn btn-default float-right">Cancel</a>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
