<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
		  <div class="card">
		  	<div class="card-body">
				<table class="detail" style="width:100%">
				  <tbody>
					  <tr>
						  <th>Order Code:</th>
						  <td>#{{order.orderCode}}</td>
					  </tr>
					  <tr style="text-align: center; background-color: #dadada !important;">
						<th colspan="2">
							User Info
						</th>
					  </tr>
					  <tr>
						  <th>Full Name:</th>
						  <td>{{order.user.firstName}} {{order.user.lastName}}</td>
					  </tr>
					  <tr>
						  <th>Email:</th>
						  <td>{{order.user.email}}</td>
					  </tr>
					  <tr>
						  <th>Gender:</th>
						  <td>{{order.user.gender}}</td>
					  </tr>
					  <tr style="text-align: center; background-color: #dadada !important;">
						<th colspan="2">
							Product Info
						</th>
					  </tr>
					  <tr>
						  <th>Product Name:</th>
						  <td>{{order.product.name}}</td>
					  </tr>
					  <tr>
						  <th>Product Type</th>
						  <td>{{order.product.type.name}} ({{order.product.type.gender}})</td>
					  </tr>
					  <tr>
						  <th>Images</th>
						  <td>
							  <img src="{{order.product.imagePath1}}" width="100px" />
							  <img src="{{order.product.imagePath2}}" width="100px" />
						  </td>
					  </tr>
					  <tr style="text-align: center; background-color: #dadada !important;">
						<th colspan="2">
							Design Model Info
						</th>
					  </tr>
					  <tr style="text-align: center;">
						  <td>
							  <img src="{{order.design.imageFront}}" width="100px" />
						  </td>
						  <td>
							  <img src="{{order.design.imageBack}}" width="100px" />
						  </td>
					  </tr>
					  <tr style="text-align: center">
						  <th>Image Front</th>
						  <th>Image Back</th>
					  </tr>
					  <!-- <tr>
						  <th></th>
						  <td>{{order.phoneNumber}}</td>
					  </tr> -->
					  <tr style="text-align: center; background-color: #dadada !important;">
					    <th colspan="2">
						    Order Info
					    </th>
				 	  </tr>
					  <tr>
						  <th>Qty:</th>
						  <td>{{order.productQty}}</td>
					  </tr>
					  <tr>
						  <th>Size:</th>
						  <td>{{order.design.size}}</td>
					  </tr>
					  <tr>
						  <th>Status:</th>
						  <td>{{order.status}}</td>
					  </tr>
					  <tr style="text-align: center; background-color: #dadada !important;">
					    <th colspan="2">
						    Price
					    </th>
				 	  </tr>
					  <tr>
						  <th>Subtotal:</th>
						  <td>{{formatNumber order.subtotal style="currency" currency="USD" }}</td>
					  </tr>
					  <tr>
						  <th>Shipping:</th>
						  <td>{{formatNumber order.shipping style="currency" currency="USD" }}</td>
					  </tr>
					  <tr>
						  <th>Tax:</th>
						  <td>{{tax}}%</td>
					  </tr>
					  <tr>
						  <th>Total Price:</th>
						  <td>{{formatNumber order.totalPrice style="currency" currency="USD" }}</td>
					  </tr>
					  <tr style="text-align: center; background-color: #dadada !important;">
						<th colspan="2">
							Delivery Info
						</th>
					  </tr>
					  <tr>
						  <th>Phone Number:</th>
						  <td>{{order.user.phoneNumber}}</td>
					  </tr>
					  <tr>
						  <th>Country:</th>
						  <td>{{order.user.country}}</td>
					  </tr>
					  <tr>
						  <th>City:</th>
						  <td>{{order.user.city}}</td>
					  </tr>
					  <tr>
						  <th>Address:</th>
						  <td>{{order.user.address}}</td>
					  </tr>



				  </tbody>
				</table>
		  	</div>
		  	<!-- /.card-body -->
			<div class="card-footer">
  				<a href="/admin/orders" type="button" class="btn btn-default float-right">Cancel</a>
  		  </div>
		  </div>
		  <!-- /.card -->

	  </div>

      </div>
    </div>
  </div>
</div>
