<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
					{{#if message}}
					<div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{message}}
					</div>
					{{/if}}
                    <div class="card-header">
                        <!-- <h3 class="card-title">Data Table With Full Features</h3> -->
                        <a type="button" class="btn btn-primary add-new" href="{{addNewPage}}">
                            Add New
                        </a>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
								<th>Gender</th>
                                <th>Template Front</th>
                                <th>Template Back</th>
								<th>Basic Price</th>
								<th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
							{{#each productTypes}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
								<td>{{gender}}</td>
								<td style="text-align: center">
									<img width="50px" src="{{templateFront}}" />
								</td>
								<td style="text-align: center">
									<img width="50px" src="{{templateBack}}" />
								</td>
								<td>{{formatNumber basicPrice style="currency" currency="USD"}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/admin/product-types/{{id}}/edit" type="button" class="btn btn-primary edit-product-type" data-product-type-id="{{id}}">Edit</a>
										<form action="/admin/product-types/{{id}}" method="post">
											<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
										</form>

                                    </div>
                                </td>
                            </tr>
							{{/each}}


                            </tbody>
                            <tfoot>
                            <tr>
								<th>#</th>
                                <th>Name</th>
								<th>Gender</th>
                                <th>Template Front</th>
                                <th>Template Back</th>
								<th>Basic Price</th>
								<th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
