<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <!-- <div class="card-header">
                        <a type="button" class="btn btn-primary add-new" href="{{addNewPage}}">
                            Add New
                        </a>
                    </div> -->
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Gender</th>
								<th>Phone Number</th>
                                <th>Active Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
							{{#each users}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{firstName}} {{lastName}}</td>
                                <td>{{email}}</td>
                                <td>{{gender}}</td>
                                <td>{{phoneNumber}}</td>
                                <td id="active-status-{{id}}">
									{{#ifCond isActive '==' '1'}}
									Active
									{{else}}
									Not active
									{{/ifCond}}
								</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/admin/users/{{id}}" type="button" class="btn btn-default">View</a>

										<button type="button" {{#ifCond isActive '==' '0'}} style="display: none" {{/ifCond}} class="btn btn-danger deactive-user" id="deactive-user-{{id}}" data-user-id="{{id}}">Deactive</button>
										<button type="button" {{#ifCond isActive '==' '1'}} style="display: none" {{/ifCond}} class="btn btn-primary active-user" id="active-user-{{id}}" data-user-id="{{id}}">Active</button>

                                    </div>
                                </td>
                            </tr>
							{{/each}}

                            </tbody>
                            <tfoot>
                            <tr>
								<th>#</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Gender</th>
								<th>Phone Number</th>
                                <th>Active Status</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
