<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
					{{#if message}}
					<div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{message}}
					</div>
					{{/if}}
                    <div class="card-header">
                        <!-- <h3 class="card-title">Data Table With Full Features</h3> -->
                        <a type="button" class="btn btn-primary add-new" href="{{addNewPage}}">
                            Add New
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
								<th>Gender</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Discount</th>
								<th>Image</th>
								<th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
							{{#each products}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                                <td>{{typeName}}</td>
								<td>{{gender}}</td>
								<td>{{qty}}</td>
                                <td>{{formatNumber discount style="currency" currency="USD"}}</td>
								<td>{{discount}}%</td>
								<td><img src="{{imagePath1}}" width="50px"></td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/admin/products/{{id}}" type="button" class="btn btn-default">View</a>
                                        <a href="/admin/products/{{id}}/edit" type="button" class="btn btn-primary">Edit</a>
										<form action="/admin/products/{{id}}" method="post">
											<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
										</form>
                                    </div>
                                </td>
                            </tr>
							{{/each}}

                            </tbody>
                            <tfoot>
                            <tr>
								<th>#</th>
                                <th>Name</th>
                                <th>Type</th>
								<th>Gender</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Discount</th>
								<th>Image</th>
								<th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
