<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <!-- <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div> -->
          <!-- /.card-header -->
          <!-- form start -->
		  {{#if message}}
		  <div class="alert alert-danger alert-dismissible">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			  {{message}}
		  </div>
		  {{/if}}
		  {{#if product}}
		  <form method="post" action="/admin/products/{{product.id}}/edit" enctype="multipart/form-data" id="create-product-type">
		  {{else}}
		  <form method="post" action="/admin/products/create" enctype="multipart/form-data" id="create-product-type">
		  {{/if}}
            <div class="card-body">
              <div class="form-group">
                <label for="name">Name <span class="required">(*)</span></label>
                <input type="name" value="{{product.name}}" class="form-control" id="name" name="name" placeholder="Enter product name" required>
			  </div>
			  <div class="form-group">
   	  			<label for="typeId">Type <span class="required">(*)</span></label>
   				<select class="form-control select2" id="typeId" name="typeId">
					{{#each productTypes}}
					<option value="{{id}}" {{#ifCond ../product.typeId '==' this.id}} selected {{/ifCond}}>{{name}} - {{gender}}</option>
					{{/each}}
   	 			</select>
			  </div>
			  <div class="form-group">
                <label for="qty">Qty <span class="required">(*)</span></label>
                <input type="number" value="{{product.qty}}" class="form-control" id="qty" name="qty" min="0" max="99" placeholder="Enter product qty">
              </div>
			  <div class="form-group">
   	  			<label for="minSize">Min Size <span class="required">(*)</span></label>
   				<select class="form-control" id="minSize" name="minSize">
					{{#each sizes}}
					<option value="{{@index}}" {{#ifCond ../product.minSize '==' @index}} selected {{/ifCond}}>{{this}}</option>
					{{/each}}
   	 			</select>
			  </div>
			  <div class="form-group">
   	  			<label for="maxSize">Max Size <span class="required">(*)</span></label>
   				<select class="form-control" id="maxSize" name="maxSize">
					{{#each sizes}}
					<option value="{{@index}}" {{#ifCond ../product.maxSize '==' @index}} selected {{/ifCond}}>{{this}}</option>
					{{/each}}
   	 			</select>
			  </div>
			  <div class="form-group">
				<label for="price">Price ($) <span class="required">(*)</span></label>
				<input type="number" value="{{product.price}}" class="form-control" id="price" name="price" placeholder="Enter price">
			  </div>
			  <div class="form-group">
				<label for="discount">Discount (%) <span class="required">(*)</span></label>
				<input type="number" value="{{product.discount}}" class="form-control" id="discount" name="discount" name="qty" min="0" max="100" placeholder="Enter product discount">
			  </div>
			  <div class="form-group">
				<label for="image1">Image 1 <span class="required">(*)</span></label>
				<input type="file" class="form-control" id="image1" name="image1" accept=".jpg, .jpeg, .png">
			  </div>
			 <div class="form-group">
				<label for="image2">Image 2</label>
				<input type="file" class="form-control" id="image2" name="image2" accept=".jpg, .jpeg, .png">
			  </div>
			  <div class="form-group">
				<label for="color">Color</label>
				<input type="color" value="{{product.color}}" class="form-control" id="color" name="color" style="height: 50px; width: 100px;">
			  </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" value="{{product.description}}" class="form-control" id="description" name="description" placeholder="Enter product description"></textarea>
              </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="/admin/products" type="button" class="btn btn-default float-right">Cancel</a>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
